<div class="nav-content">
    <!-- 幻灯片 -->
    <div class="slide">
        <img class="carousel_img" src="../image/1.jpg" name="1">
        <img class="carousel_img" src="../image/2.jpg" name="2">
        <img class="carousel_img" src="../image/3.jpg" name="3">
        <img class="carousel_img" src="../image/4.jpg" name="4">
        <img class="carousel_img" src="../image/5.jpg" name="5">
        <div class="icon">
            <i name="1" class="fa fa-circle"></i>
            <i name="2" class="fa fa-circle"></i>
            <i name="3" class="fa fa-circle"></i>
            <i name="4" class="fa fa-circle"></i>
            <i name="5" class="fa fa-circle"></i>
        </div>
        <div class="prev prevNext" onclick="PrevNextClick(1)"> <span class="glyphicon glyphicon-menu-left"></span> </div>
        <div class="next prevNext" onclick="PrevNextClick(2)"> <span class="glyphicon glyphicon-menu-right"></span> </div>
    </div>
</div>
