<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSUMall电商平台</title>
    </head>
    <%= require('html-loader!./common/common-head.html') %>
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>

    <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav-side">
            
        </div>
        <%= require('html-withimg-loader!./content.html') %>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>