.header .logo{
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #215496;
    font-weight: bold;
    text-decoration: none;
}
.header .search-content{
    padding :40px 0 30px 290px;
}
.header .search-content .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #215496;
    outline: none;
}
.header .search-content .btn{
    position: absolute;
    height: 44px;
    width: 80px;
}